
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    background-color: rgb(242 232 223);
    font-family: "Playfair Display", serif, "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style-type: none;
    font-size: 1.2em;
    
}

.header-container {
    top: 0;
    padding: 5%;
}

.notification {
    background-color: rgb(104, 128, 117);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.notification p {
    color: white;
    font-weight: 2em;
}

.global_nav {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo_container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: inline-block;

}

.nav_logo {
    width: 100%;
    height: auto;
    justify-content: center;
}

.nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_links li {
    display: inline-block;
    position: relative;
}


.nav_links li a,
.nav_menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}



.dropdown_menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.nav_links li:hover .dropdown_menu {
    display: block;
}


.dropdown_menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.dropdown_menu a:hover {
    background-color: #f5f5f5;
    opacity: 0.8;
}

/* Home Page */
.bg_home {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 100%;
    height: auto; 
    position: relative;
    display: flex;
    align-items: center;
}

.welcome_msg {
    position: absolute;
    width: 100%;
    font-size: 1em;
}

.shop_by {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.women,
.men {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
   
}

.btn_w,
.btn_m {
    width: 20%;
    height: auto; 
    background-color: rgb(207,191,178);
    border-radius: 25px;
    position: absolute;
    top: 10%;
    z-index: 1;
}

.btn_w a,
.btn_m a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1em;
    padding: 5%;
    text-decoration: none;
}


.img_w1,
.img_w2,
.img_m1,
.img_m2 {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    height: auto;
    background-color: lightgray;
    /* margin-top: 1%; */
}




/* About page */

.ethic,
.processing,
.environment {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.img_ethic,
.img_process,
.img_sea {
    width: 100%;
    height: 80%;
    position: relative;
    display: flex;
    justify-content: center;
}

.support {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 10%;
    font-size: 1em;
}

.ethical_msg {
        position: absolute;
        width: 30%;
        top: 60%; 
        left: 20%;
        transform: translate(-50%, -50%);
        font-size: 1em;
        color: black;
        font-kerning: 4%;
}

.processing_msg {
    position: absolute;
    width: 30%;
    top: 40%; 
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 1sem;
    color: white;
    font-kerning: 4%;
}
.environment_msg {
    position: absolute;
    width: 30%;
    top: 60%; 
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    color: white;
    font-kerning: 4%;
}

.testimonial {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
}

.test_msg {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 2em;
}

.testimonial_img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 10px;
}

.test_img {
    width: 100%;
    height: auto;
    padding: 10%;
}

/* Men/women/accessories page */

.bg_men,
.bg_women,
.bg_accessories {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_wstatement,
.img_mstatement,
.img_acstatement {
    width: 100%;
    height: 90%;
    position: relative;
    display: flex;
    justify-content: center;
}



.men_msg,
.women_msg,
.accessories_msg {
    position: absolute;
    width: 100%;
    padding: 10px; 
    font-size: 1em;
    color: white;
    z-index: 1;
    font-kerning: auto;
}


#product_hoodie,
#product_t,
#product_shirts,
#product_pants,
#wproduct_hoodie,
#wproduct_t,
#wproduct_shirts,
#wproduct_pants,
#acproduct_bags,
#acproduct_hats,
#acproduct_socks {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2%;
    padding:10%;
}


.hoodie_details,
.t_details,
.shirts_details,
.pants_details,
.bags_details,
.hats_details,
.socks_details {
    position: relative;
    width: 100%;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    justify-content: center;
}

.pants_details {
    margin-bottom: 5%;
}

.h1 {
    padding: 10%;
    font: "playful";
}



.hoodie,
.t,
.shirts,
.pants,
.bags,
.hats,
.socks {
    position: relative;
    width: 100%;
    /* height: 450px; */
    align-items: center;
    flex-direction: column;
    padding: 2%;
    height: auto;
    max-height: 450px;
    overflow: hidden;
}

.t_info,
.hoodie_info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    padding-bottom: 2%;
}

.product_details p {
    position: relative;
    /* padding-top: 10%; */
    justify-content: center;
}

.bottom_footer {
    position: relative;
    display: flex;
    justify-content: right;
    padding: 20px;
}

.footer_container1 > li,
.fotter_container2 > li,
.fotter_container3 > li {
    font: 2em;
}


@media (max-width: 375px) {
    .header-container {padding: 3%;}
    .notification {padding: 5px;}
    .global_nav {padding: 5px;}
}

@media (min-width: 376px)and (max-width:768px){
    .header-container {padding:4%;}
    .notification {padding: 8px;}
    .global_nav {padding: 8px;}
}

@media (min-width:769px) and (max-width:1440px) {
    .header-container {padding:5%;}
    .notification {padding: 10px;}
    .global_nav {padding: 10px;}
}



/* Footer */
.footer_container {
    display: flex;
    align-items: top;
    background-color: rgb(207, 191, 178);
    justify-content: center;
    margin-top: 4%;
}

.footer_container >div {
    flex: 1;
    margin: 0 10px;
    padding: 1%;
    position: relative;
    flex-direction: column;
}
.bottom_footer{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.twitter,
.instagram,
.youtube,
.share {
    width: 50px;
    height: auto;
    display: inline-block;
    margin: 0;
    padding: 5px;
    justify-content: space-between;
}




/* all bg img are too big */
/* keep the ratio, resz */