
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: rgb(242 232 223);
}

.header-container {
    position: sticky;
    top: 0;
    padding: 5%; /* Adjust padding for smaller screens */
}

.notification {
    background-color: rgb(104, 128, 117);
    display: flex;
    justify-content: center;
    padding: 10px; 
}

.notification p {
    color: white;
    font-weight: 2em;
}

.global_nav {
    position: relative;
    display: flex;
    align-items: center;
    background-color: rgb(207, 191, 178);
    justify-content: space-between;
    
}

.global_nav > * {
    margin-right: 1%; 
    padding: 1%; 
}
.nav_logo {
    width: 250px;
    height: 250px;
}

.nav_links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav_links li {
    display: inline-block;
    position: relative;
}


.nav_links li a,
.nav_menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    list-style-type: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style-type: none;
}



.dropdown_menu {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.nav_links li:hover .dropdown_menu {
    display: block;
}


.dropdown_menu a {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
}

.dropdown_menu a:hover {
    background-color: #f5f5f5;
}

/* after header */
.bg_home {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 100%;
    height: auto; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_msg {
    position: absolute;
    top: 80%; 
    left: 65%; 
    transform: translate(-50%, -50%);
    padding: 5px; 
    font-size: 1.5em;
}

.shop_by {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.women,
.men {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn_w,
.btn_m {
    width: 20%;
    height: 5%; 
    background-color: rgb(207,191,178);
    border-radius: 25px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.btn_w a,
.btn_m a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.5em;
    padding: 5%;
}

.women > *,
.men > * {
    margin-right: 2%; 
}

.img_w1,
.img_w2,
.img_m1,
.img_m2 {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 70%; 
    height: auto;
    background-color: lightgray;
    margin-top: 1%;
}

.testimonial {
    width: 100%;
    height: 300px; 
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    margin-bottom: 10px; 
}

.test_msg {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px; 
}

.test_img {
    margin: 10px;
    width: 70%; 
    height: 90%; 
    align-items: center;
    background-color: lightgray;
}


/* About page */

.ethic,
.processing {
    width: 100%;
    height: 300px; 
    background-color: gray;
    margin-bottom: 10px; 
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px; 
}

.img_ethic,
.img_process {
    width: 100%;
    height: 90%; 
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
}

.ethical_msg,
.processing_msg {
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px; 
}

/* Men/women/accessories page */

.bg_men,
.bg_women,
.bg_accessories {
    width: 100%;
    height: 500px;
    background-color: gray;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_wstatement,
.img_mstatement,
.img_acstatement {
    width: 100%;
    height: 90%; 
    background-color: lightgray;
    position: relative;
    display: flex;
    justify-content: center;
}

.men_msg,
.women_msg,
.accessories_msg {
    position: absolute;
    top: 80%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px; 
}


.product_details1,
.product_details2,
.product_details3,
.product_details4 {
    width: 100%;
    height: 500px;
    background-color: gray;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hoodie_details,
.tshirts_details,
.shirts_details,
.pants_detials,
.bags_details,
.hats_details,
.socks_details {
    position: relative;
    width: 100%;
    height: 400px;
    background-color: lightgray;
    margin-bottom: 1%;
    margin-right: 1%;
    margin-left: 1%;
    justify-content: center;
}

.product_details img {
    position: relative;
    width: 200px;
    height: 500px;
    background-color: white;
    align-items: center;
}

.product_details p {
    position: relative;
    padding-top: 10%;
    justify-content: center;
}

.bottom_footer {
    position: relative;
    display: flex;
    justify-content: right;
    padding: 20px;
}

@media (max-width: 375px) {
    .header-container {padding: 3%;}
    .notification {padding: 5px;}
    .global_nav {padding: 5px;}
}

@media (min-width: 376px)and (max-width:768px){
    .header-container {padding:4%;}
    .notification {padding: 8px;}
    .global_nav {padding: 8px;}
}

@media (min-width:769px) and (max-width:1440px) {
    .header-container {padding:5%;}
    .notification {padding: 10px;}
    .global_nav {padding: 10px;}
}



/* Footer */
.footer_container {
    display: flex;
    align-items: top;
    background-color: rgb(207, 191, 178);
    justify-content: center;
}
.footer_container> * {
    margin: 0.1%;
    padding: 1.5%;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.footer_container >div {
    flex: 1;
    margin: 0 10px;
    padding: 1%;
    position: relative;
    flex-direction: column;
}
.bottom_footer{
    margin: 0;
}

.sns,
.address,
.subscribe {
    justify-content: center;
}

.twitter,
.instagram,
.youtube,
.share {
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}